.auth {
    width: 100%;

    &-container {
        display: flex;
        justify-content: center;
        width: 65%;
        margin: 90px auto;
        padding: 10px;
        height: 450px;
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

        &-login {
            width: 50%;
            padding: 20px;

            &__head {
                text-align: center;
            }

            &--forget-password {
                margin-top: 5px;
                font-style: italic;
                text-decoration: underline;
                cursor: pointer;
            }

            &__logo {
                justify-content: center;
                width: 80px;
            }

            &__button-one {
                text-align: center;
                display: block;

                button {
                    width: 100px;
                }
            }

            &__sign-text {
                display: flex;
                justify-content: center;
                margin-top: 5px;
            }

            &--signing {
                font-size: 1rem;
                cursor: pointer;
                color: #0b7736;

                &:hover {
                    text-decoration: underline;
                    color: #0bda5e;
                }
            }

            &-image {
                position: relative;
                background-image: url('../../../assets/images/signup.jpg');
                background-repeat: no-repeat;
                background-position: 50% 0;
                background-size: cover;
                height: 100%;
            }
        }

        &-signup {
            width: 50%;

            &-image {
                position: relative;
                background-image: url('../../../assets/images/login-1.jpg');
                background-repeat: no-repeat;
                background-position: 50% 0;
                background-size: cover;
                height: 100%;
            }

            &__button-one {
                text-align: center;
                margin-top: 10px;
                width: 100%;
            }

            &__signing {
                text-align: center;
                cursor: pointer;
                display: flex;

                &:hover {
                    text-decoration: underline;
                    color: #0b7736;
                }
            }
        }
    }

    input {
        margin-top: 10px;
        border: none;
        border-radius: 16px;
        height: 30px;
        padding: 8px;
    }
}

input.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
}

input.ng-invalid.ng-touched {
    border-left: 5px solid #a94442;
}

.alert {
    color: #f20808;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
}