.home {
   margin: 0 20px;
//   height: 520px;
//   overflow-y: scroll;

  &__slider {
    width: auto;
    height: 300px;
    margin: 40px;
  }
  &__category {
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 80px;
    height: 120px;
    padding: 10px;
  }
  &__category-items {
    justify-content: center;
    align-items: center;
    height: 120px;
    text-align: center;
    align-self: center;
    position: relative;
  }
  &__category-items app-category {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
  }
}

