.home {
  margin: 0 20px;
  //   height: 520px;
  //   overflow-y: scroll;

  &__slider {
    width: auto;
    height: 300px;
    margin: 40px;
  }
  &__category {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    height: 120px;
    padding: 10px;

    &-items {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    &-content {
      display: block;
      justify-content: space-between;
      margin-right: 30px;
      transform: translateY(-3px);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
      //border-radius: 50%;
    }
    &-content:hover {
      scale: 1.1;
    }
    &--borders{
      border-radius: 50%;
    }
  }
  
  &-product {
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 20px;
    padding: 20px;

    &__card-container {
      margin: 20px 60px;
      transition: all 0.2s ease-in-out;
      width: auto;
      display: flex;
      justify-content: center;
    }
    &__card-row {
      display: flex;
      justify-content: space-between;
      margin: 10px 20px;
      width: 90%;
      display: grid;
      grid-template-columns: auto auto auto auto auto;

      @media screen and (width: 600px) {
        display: grid;
        grid-template-columns: auto auto auto;
      }
    }
    &__cards {
      padding: 5px;
      margin-right: 20px;
      margin-bottom: 10px;
    }
    &__cards:hover {
      scale: 1.3;
    }
    &__search {
      margin: 20px 50px;
      width: 25%;
      position: relative;
      left: 65%;
      margin-bottom: 40px;
    }
  }
  &-about {
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;

    &-content {
      display:flex;
      justify-content: center;
      margin: 0 60px;

      &__box {
        display: block; 
        text-align: center;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}