<div class="home">
  <div class="home__slider">
    <app-slider [slide]="slides"></app-slider>
  </div>
  <div class="home__category">
    <div class="home__category-items">
      <div *ngFor="let item of categories" class="home__category-content" (click)="sortItems(item.type)">
        <div class="home__category--borders"><img [src]="item.imgUrl" [alt]="item.type" style="width: 150px;height: 150px;"/></div>
        <div class="title">{{ item.type }}</div>
      </div>
    </div>
  </div>
  <div class="home-product">
    <div class="home-product__search">
      <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching" />
    </div>
    <div class="home-product__card-container">
      <div class="home-product__card-row">
        <div class="home-product__cards" *ngFor="let items of products | filter : searchText">
          <a [routerLink]="['/products/', items.id]">
            <div class="home-product--center">
              <img [src]="items.image" style="width: 200px;height: 200px;"/>
            </div>
            <div>
              <div>{{ items.title }}</div>
              <div class="home-product--display">
                <span>{{ items.quantity }} left</span>
                <span>
                  <span style="margin-top: -4px">{{ items.rating }}</span>
                  <span>
                    <img src="../../../assets/images/rating.png" style="width: 15px" />
                  </span>
                </span>
              </div>
              <div class="home-product--display">
                <span>{{ items.price | currency : "LKR" }}</span>
                <span>{{ items.discount | percent }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-about">
    <div class="home-about-content">
      <div class="home-about-content__box">
        <img src="../../../assets/images/delivery.jpg">
        <h2 i18n>Free Shipping</h2>
        <p i18n>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique numquam
          assumenda esse perferendis vero.</p>
      </div>
      <div class="home-about-content__box">
        <img src="../../../assets/images/dollar.jpg">
        <h2>100% Refund</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique numquam
          assumenda esse perferendis vero.</p>
      </div>
      <div class="home-about-content__box">
        <img i18n-alt src="../../../assets/images/delivery.jpg" alt="delivery image">
        <h2>Support 24/7</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique numquam
          assumenda esse perferendis vero.</p>
      </div>
    </div>
  </div>
</div>