.footer-container {
  background-color: var(--color-background);
  padding: 0 var(--spacing-one-and-half);
  border: 1px solid var(--color-n-borders);

  &-footer {
    background-color: var(--color-background);
    display: inline-block;
    padding: var(--spacing-half);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__content {
      margin: calc(var(--border-width-l) * 2);
      padding: var(--spacing-eight);
      display: grid;
    }

    &__social-media {
      padding-top: var(--spacing-eight);
      width: var(--spacing-half);
    }

    &--small-font {
      font-size: calc(var(--font-size-one) - 3px);
      color: var(--color-n-reset);
      margin-bottom: calc(var(--spacing-one) * -1);
    }

    &--small-font.no-underline {
      text-decoration: none;
    }

    &--font-colors {
      text-decoration: none;
      color: #8a8888;
    }

    &--margin-negative {
      margin-top: -7px;
    }
  }
}
