.circle {
  width: 120px;
  height: 130px;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  display: flex;
  :hover {
    scale: 1.1;
  }

  &__content {
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
