<div class="topnav">
  <div class="topnav__logo-section">
    <img src="../../../favicon.ico" class="topnav__logo" />
  </div>
  <div class="topnav__center-tabs">
    <span class="topnav__tabs" *ngFor="let tab of tabs">
      {{ tab.name }}
    </span>
  </div>
  <div class="topnav__right-tabs">
    <span class="material-symbols-outlined" style="margin: 4px">
      shopping_cart
    </span>
    <span class="material-symbols-outlined" style="margin: 4px; font-size: 40px;">
      account_circle
    </span>
  </div>
</div>
