/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/border-size.scss";
@import "./assets/styles/colors.scss";
@import "./assets/styles/font-size.scss";
@import "./assets/styles/space.scss";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans", Roboto, "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  overflow-y: hidden;
}

h4 {
  text-transform: uppercase;
  font-family: "Noto Sans";
  font-weight: bolder;
}

label {
  display: block;
  margin-top: var(--spacing-half);
  font-family: "Noto Sans", Roboto;
  font-weight: 400;
  font-size: 16px;
}

input,
select {
  width: 96%;
  border: var(--spacing-eight) solid var(--color-g-night);
  border-radius: var(--border-width-l);
  height: var(--spacing-one-and-half);
  background-color: var(--color-n-input);
  font-size: var(--font-size-one);
  font-family: "Noto Sans", "Roboto";

  &:hover {
    background-color: var(--color-g-20);
    border-color: var(--color-g-dark);
  }
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: var(--color-g-dark);
  --mdc-protected-button-label-text-color: #fff;
}

.mat-mdc-outlined-button.mat-primary {
  --mdc-outlined-button-label-text-color: var(--color-g-night);
}
