<div class="card-container">
  <div class="card-row" *ngFor="let row of getRows(products, 5)">
    <div class="card" *ngFor="let items of row">
      <div class="card__image-container">
        <img [src]="items.image" class="card__image" />
      </div>
      <div>
        <div class="card__title">{{ items.title }}</div>
        <div class="card--space">
          <span>{{ items.quantity }} left</span>
          <span class="">
            <span class="card--margin">{{ items.rating }}</span>
            <span>
              <img src="../../../assets/images/rating.png" style="width: 15px" />
            </span>
          </span>
        </div>
        <div class="card--space">
          <span>{{ items.price | currency : "LKR" }}</span>
          <span>{{ items.discount | percent }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
