.card-container {
  justify-content: space-around;
  margin-top: 0 8px;
  transition: all 0.2s ease-in-out;
  width: fit-content;

  .card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .card {
    display: block;
    padding: 5px;
    margin-right: 20px;

    &__image-container {
      display: flex;
      justify-content: center;
      background-color: red($color: #000000);
      align-items: center;
    }

    &__image {
      width: 150px;
      height: 150px;
    }

    &__title {
      font-weight: 600;
      font-family: "Roboto";
      font-size: 16px;
    }

    &--margin {
      margin-top: -4px;
    }

    &--space {
      display: flex;
      justify-content: space-between;
    }
  }
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}