:root {
  --spacing-thirty-second: 0.03125rem;
  --spacing-eight: 0.125rem;
  --spacing-quarter: 0.25rem;
  --spacing-half: 0.5rem;
  --spacing-three-quarter: 0.75rem;
  --spacing-one: 1rem;
  --spacing-one-and-half: 1.5rem;
  --spacing-two: 2rem;
  --spacing-two-and-half: 2.5rem;
  --spacing-three: 3rem;
  --spacing-three-and-half: 3.5rem;
  --spacing-four: 4rem;
  --spacing-five: 5rem;
  --spacing-six: 6rem;
}
